@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spectral:wght@200&display=swap');

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    padding: -12px;
   

}

.navbar_item {
    flex-basis: 9%;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: gray;
   
}

.navbar_link {
    color: gray;
    font-size: 19px;

}